<div class="container text-center my-5">

  <div class="row my-5">
    <div class="col-md-4 offset-2 p-5">
      <div class="text-center">
        <h1 class="titulo">CyberDoggo</h1>
      </div>
    </div>
    <div class="col-md-4">
      <img class="img-fluid w-50" src="assets/img/doggo.png">
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <h3 class="sub-titulo">plain text</h3>
      <textarea class="texto-conversor" [(ngModel)]="plainText">{{base64}}</textarea>
      <div class="row p-3">
        <div class="col-12">
          <button class="btn-doggo btn btn-primary" (click)="encode(plainText)">Encode</button>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <h3 class="sub-titulo">base64</h3>
      <textarea class="texto-conversor" [(ngModel)]="base64" name="base64">{{base64}}</textarea>
      <div class="row p-3">
        <div class="col-12">
          <button class="btn-doggo btn btn-primary" (click)="decode(base64)">Decode</button>
        </div>
      </div>
    </div>
  </div>

</div>
